{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container d-flex justify-content-center align-items center" >
    <div class="card" style="width: 18rem; margin: 1em">
        <h1>Eliminar Post</h1>
        <div class="card-body">
    
    <p>¿Estás seguro de que deseas eliminar este post?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
        <a href="{% url 'blog:blog' %}" class="btn btn-sm btn-secondary">Cancelar</a>
    </form>
</div>
</div>

</div>
{% endblock %}