<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
</div>
<!-- Spinner End -->




<!-- Navbar Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
        <a href="{% url 'blog:index' %}" class="navbar-brand p-0">
            <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>TecnoPower</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{% url 'blog:index' %}" class="nav-item nav-link">Home</a>
                {% comment %} <a href="about.html" class="nav-item nav-link">Acerca de</a> {% endcomment %}
                <a href="{% url 'blog:blog' %}" class="nav-item nav-link active">Blog</a>
                {% comment %} <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Blog</a>
                    <div class="dropdown-menu m-0">
                        <a href="blog.html" class="dropdown-item active">Blog Grid</a>
                        <a href="detail.html" class="dropdown-item">Blog Detail</a>
                    </div>
                </div> {% endcomment %}
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Más</a>
                    <div class="dropdown-menu m-0">
                        {% if user.is_authenticated %}
                        <a href="{% url 'blog:modify_user' %}" class="dropdown-item">Perfil</a>
                        {% endif %}

                        <a href="{% url 'blog:index' %}?#experience" class="dropdown-item">Nuestra experiencia</a>
                        <a href="{% url 'blog:index' %}?#team" class="dropdown-item">Equipo</a>
                        <a href="{% url 'blog:index' %}?#testimonial" class="dropdown-item">Testimonios</a>
                        <a href="{% url 'blog:index' %}?#acerca" class="dropdown-item">Acerca de</a>
                        <a href="{% url 'blog:index' %}?#contacto" class="dropdown-item">Contacto</a>
                        {% if request.user.is_staff %}
                        <a href="{% url 'blog:edit_users_permissions' %}" class="dropdown-item">Editar permisos</a>
                        {% endif %}
                    </div>
                </div>
                {% comment %} <a href="contact.html" class="nav-item nav-link">Contacto</a> {% endcomment %}
                {% if user.is_authenticated %}
                <a href="{% url 'blog:logout' %}" class="nav-item nav-link">Salir</a>
                {% endif %}
            </div>
            <butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
        </div>
    </nav>

    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 0px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">Tu Blog Sobre IA</h1>
                {% comment %} <a href="" class="h5 text-white">By</a> {% endcomment %}
                
                <a href="" class="h5 text-white">By TecnoPower</a>
            </div>
        </div>
    </div>
</div>
<!-- Navbar End -->

<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                
                <form method="get" action="{% url 'blog:buscar_articulos' %}" class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" name="q" class="form-control bg-transparent border-primary p-3" placeholder="Ingrese aquí su búsqueda">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->