{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Facts Start -->
    <div class="container-fluid facts py-5 pt-lg-0">
        <div class="container py-5 pt-lg-0">
            <div class="row gx-0">
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                    <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                        <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                            <i class="fa fa-users text-primary"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white mb-0">Líneas de código</h5>
                            <h1 class="text-white mb-0" data-toggle="counter-up">10000</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                    <div class="bg-light shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                            <i class="fa fa-check text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-primary mb-0">Bug encontrados</h5>
                            <h1 class="mb-0" data-toggle="counter-up">5000</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                    <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                        <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                            <i class="fa fa-award text-primary"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white mb-0">Bug corregidos</h5>
                            <h1 class="text-white mb-0" data-toggle="counter-up">2500</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts Start -->

    

    <!-- Service Start -->
    <section id='experience'>
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Nuestra experiencia</h5>
                <h1 class="mb-0">Habilidades que trabajamos en la segunda etapa del Info</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon fa-3x">
                            <i class="fab fa-python text-white"></i>
                        </div>
                        <h4 class="mb-3">Python Development</h4>
                        <p class="m-0">Aprendimos a programar en Python, teniendo en cuenta conceptos como OOP, buenas prácticas, etc.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon fa-3x">
                            <i class="fa fa-code text-white"></i>
                        </div>
                        <h4 class="mb-3">Web Development</h4>
                        <p class="m-0">Desarrollo de páginas web con html, hojas de estilo CSS, sitios web dinámicos mediante el uso del framework Django.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon fa-3x">
                            <i class="fab fa-bootstrap text-white"></i>
                        </div>
                        <h4 class="mb-3">Bootstrap</h4>
                        <p class="m-0">Uso del framework Bootstrap para lograr un diseño funcional y agradable a la vista.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon fa-3x">
                            <i class="fab fa-github text-white"></i>
                        </div>
                        <h4 class="mb-3">Control de Versiones</h4>
                        <p class="m-0">Herramientas de control de versiones como Git y GitHub, mediante las cuales compartimos el progreso entre los miembros del equipo.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon fa-3x">
                            <i class="fas fa-database text-white"></i>
                        </div>
                        <h4 class="mb-3">Bases de Datos</h4>
                        <p class="m-0">Diseño mediante modelos de entidad-relación, operaciones CRUD en bases de datos relacionales como MySql.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon fa-3x">
                            <i class="fa fa-chart-pie text-white"></i>
                        </div>
                        <h4 class="mb-3">Metodologías Ágiles</h4>
                        <p class="m-0">Como organizar el trabajo de equipo de manera flexible pero eficaz, Scrum y tableros Kanban.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- Service End -->

    

    <!-- Testimonial Start -->
    <section id='testimonial'>
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Testimonios</h5>
                <h1 class="mb-0">Lo que los profes dicen de nuestro trabajo</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="{% static 'blog/img/lucas.png' %}" style="width: 115px; height: 100px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Lucas</h4>
                            <small class="text-uppercase">Profe</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        <br>
                        <br>
                        "Mis alumnos vienen cada vez más grosos.. o yo enseño cada vez mejor"
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="img/testimonial-2.jpg" style="width: 115px; height: 100px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Pablo</h4>
                            <small class="text-uppercase">Profe</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        <br>
                        <br>
                        <br>
                        "Sin palabras"(no responde todavía)
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="{% static 'blog/img/profe_adrian.png' %}" style="width: 88px; height: 100px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Adrián</h4>
                            <small class="text-uppercase">Profe</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        "Desde el "Hola Mundo" al presente nos teletrasportamos,
                        Cada error que corregimos , muchos retos encaramos.
                        De HTML y CSS, a las bases de datos llegamos,
                        Ya tenemos listos los  CV. ¿Quien nos da una mano ?"
                    </div>
                </div>
                {% comment %} <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="img/testimonial-4.jpg" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Client Name</h4>
                            <small class="text-uppercase">Profession</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    </section>
    <!-- Testimonial End -->


    <!-- Team Start -->
    <section id="team">
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">El equipo</h5>
                <h1 class="mb-0">Conozca a los integrantes del grupo</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-3 wow slideInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'blog/img/avatarema.png' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-primary" href="" onclick="return false">Emanuel Ortiz</a>
                            
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">emanuel601</h4>
                            <p class="text-uppercase m-0">Designation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 wow slideInUp" data-wow-delay="0.6s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'blog/img/avatar_facu.jpeg' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-primary" href="" onclick="return false">Facundo Baibiene</a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Fakub</h4>
                            <p class="text-uppercase m-0">Designation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'blog/img/avatar_juli_redim.jpeg' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-primary" href="" onclick="return false">Julieta Alarcon</a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">JuliAla</h4>
                            <p class="text-uppercase m-0">Designation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'blog/img/avatar_nestor.jpg' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-primary" href="" onclick="return false">Nestor Agudo</a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">nestoragudo</h4>
                            <p class="text-uppercase m-0">Designation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'blog/img/avatar_mar.jpeg' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-primary" href="" onclick="return false">Mariela Bernardis</a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">NixIris</h4>
                            <p class="text-uppercase m-0">Designation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'blog/img/avatar_diego_godoy.jpeg' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-primary" href="" onclick="return false">Diego Gabriel Godoy</a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">diegodoy</h4>
                            <p class="text-uppercase m-0">Designation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'blog/img/team-3.jpg' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Full Name</h4>
                            <p class="text-uppercase m-0">Designation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'blog/img/team-3.jpg' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Full Name</h4>
                            <p class="text-uppercase m-0">Designation</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </section>
    <!-- Team End -->

        <!-- About Start -->
    <section id="acerca">
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-12 text-center">
                    <div class="section-title position-relative pb-3 mb-5 text-center">
                        <h5 class="fw-bold text-primary text-uppercase">Acerca de nosotros</h5>
                        <h1 class="mb-0">Grupo TecnoPower - comisión 8</h1>
                    </div>
                    <p class="mb-1">Somos un grupo de jóvenes chaqueños de distintas partes de la provincia, distintas edades y variados contextos, unidos por las ganas de aprender, superarse y por el deseo de sumarse a la revolución tecnológica representada en la industria IT.</p>
                    <p class="mb-1">Para ello nos sumamos al curso Informatorio dictado por la provincia del Chaco, superando la primera etapa de introducción a la programación. Actualmente nos encontramos finalizando la segunda etapa centrada en el desarrollo Web, esta web oficia como trabajo final y es una demostración de las capacidades y conocimientos adquiridos durante la cursada.</p>
                    {% comment %} <div class="row g-0 mb-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Award Winning</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Professional Staff</h5>
                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>24/7 Support</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Fair Prices</h5>
                        </div>
                    </div> {% endcomment %}
                    {% comment %} <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div> {% endcomment %}
                        {% comment %} <div class="ps-4">
                            <h5 class="mb-2">Call to ask any question</h5>
                            <h4 class="text-primary mb-0">+012 345 6789</h4>
                        </div> {% endcomment %}
                    </div>
                    <div class="col text-center">
                        <a href="#contacto" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Contactanos</a>
                    </div>
                </div>
                {% comment %} <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="img/about.jpg" style="object-fit: cover;">
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    </section>
    <!-- About End -->

    <!-- Contanct Start -->
    <section id="contacto">
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-primary text-uppercase">Contacto</h5>
                        <h1 class="mb-0">Desea contactarse? Por favor déjenos un mensaje</h1>
                    </div>
                    <div class="row gx-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                            <h5 class="mb-4"><i class="fa fa-reply text-primary me-3"></i>Repuesta dentro de las 24hs</h5>
                        </div>
                        {% comment %} <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                            <h5 class="mb-4"><i class="fa fa-phone-alt text-primary me-3"></i>24 hrs telephone support</h5>
                        </div> {% endcomment %}
                    </div>
                    <p class="mb-4">En caso de tener alguna duda o consulta, no dude en contactarnos a través del formulario o el email que aparece aquí abajo.</p>
                    <div class="d-flex align-items-center mt-2 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-envelope" aria-hidden="false" style="color:white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">O envíenos un email</h5>
                            <h4 class="text-primary mb-0">contacto@tecnopower.com.ar</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-xl-12">
                                    {{ form.nombre }}
                                </div>
                                <div class="col-12">
                                    {{ form.email }}
                                </div>
                                <div class="col-12"> 
                                    {{ form.mensaje }}
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-dark w-100 py-3" type="submit">Enviar mensaje</button>
                                </div>
                                {{ form.errors }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <!-- Contact End -->


{% endblock %}