{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items center" >
    <div class="card" style="width: 18rem; margin: 1em">
    <h2>Crear/Editar Etiqueta</h2>
    <div class="card-body">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
    {% if etiquetas_existentes %}
        <form method="post">
            {% csrf_token %}
            <div style="margin: 2em 0">
            <h2>Etiquetas existentes:</h2>
            <table>
                {% for etiqueta_existente in etiquetas_existentes %}
                <tr>
                    <td><input type="checkbox" name="eliminar_etiqueta" value="{{ etiqueta_existente.pk }}"></td>
                    <td><a href="{% url 'blog:crear_editar_etiqueta' %}?id_etiqueta={{ etiqueta_existente.pk }}">{{ etiqueta_existente.nombre }}</a></td>
                </tr>
                {% endfor %}
            </table>
            </div>
            <button type="submit" name="eliminar_seleccionadas" onclick="return confirm('¿Estás seguro de eliminar las etiquetas seleccionadas?')">Eliminar seleccionadas</button>
        </form>
    {% endif %}
</div>
</div>

</div>

{% endblock %}