{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container d-flex justify-content-center align-items center" >
<form method="post" style= 'align-center'>
    {% csrf_token %}
    <table style= 'margin: 4em;'>
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Es Staff</th>
                <th>Es Colaborador</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td><input type="checkbox" name="is_staff_{{ user.id }}" {% if user.is_staff %}checked{% endif %}></td>
                <td><input type="checkbox" name="es_colaborador_{{ user.id }}" {% if user.es_colaborador %}checked{% endif %}></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div align='center'>
    <input type="submit" value="Guardar Cambios">
    </div>
</form>
</div>


{% endblock %}
